.wrapper {
	padding-left: 40px;
}

.callListItem {
	display: grid;
	padding: 0px 40px 0px 0px;
	// margin-left: 40px;
	justify-items: left;
	grid-template-columns: 54px 88px 129px 326px 213px 1fr 352px;
	height: 65px;
	align-items: center;
	border-top: 1px solid #eaf0fa;
	box-sizing: border-box;
}
.time {
	font-size: 15px;
	line-height: 140%;
	color: #122945;
	padding-left: 4px;
}
.source {
	font-size: 15px;
	line-height: 140%;
	display: flex;
	align-items: center;
	color: #5e7793;
}
.player {
	box-sizing: border-box;
}
.callType {
	padding-left: 6px;
}
.phNumber {
	font-size: 15px;
	line-height: 140%;
	color: #122945;
	position: relative;
	top: 2px;
	left: 8px;
}
.avatar {
	width: 32px;
	height: 32px;
	border-radius: 20px;
	img {
		width: 100%;
		height: 100%;
	}
}
.errors {
	font-size: 14px;
	color: #ea1a4f;
	// padding-left: 3px;
}
.onHover {
	background-color: rgba(212, 223, 243, 0.17);
}
.player {
	justify-self: right;
}

.audioDurationTitle {
	font-size: 15px;
	line-height: 140%;
	color: #122945;
	position: relative;
	top: 2px;
}
