.selectOrganization {
	position: relative;
	right: -19px;
	width: 306px;
	display: flex;
	justify-content: right;
}
.title {
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	color: #899cb1;
	span:after {
		rotate: 180deg;
		position: absolute;
		right: -22px;
		top: -23px;
		width: 40px;
		height: 40px;
		content: "";
		mask: url("../../assets/img/any/arrowTop.svg") no-repeat 0 0 /11px 11px;
		background-color: gray;
	}
}
.dropdownActive {
	span:after {
		right: -50px;
		top: 6px;
		rotate: 360deg;
		background-color: #002cfb;
		// transition: 0.1s linear;
	}
}

.dropdown {
	z-index: 5;
	box-sizing: border-box;
	position: absolute;
	width: 310px;
	background: #ffffff;
	border: 1px solid #eaf0fa;
	box-shadow: 4px 16px 50px rgba(129, 135, 163, 0.24);
	border-radius: 4px;
	left: 14px;
	top: 30px;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		height: 48px;
		display: flex;
		align-items: center;
		padding-left: 20px;
		color: #899cb1;
		font-size: 15px;
		line-height: 28px;
		cursor: pointer;
	}
	li:hover {
		background-color: rgba(0, 44, 251, 0.13);
		.dropdownItemTitle {
			color: rgba(0, 44, 251, 0.87);
		}
	}
}
