@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* {
	box-sizing: border-box;
}

:root {
	--main-font: "SF Pro Display", sans-serif;
}

.App {
	text-align: center;
	box-sizing: border-box;
	font-family: var(--main-font);
}
